*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  #4d4861;
}

header{
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    
}


form button {
    padding: 15px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    background-color: aqua;
    margin: 50px;
    cursor: pointer;

}

form button a{
    text-decoration: none;
    
}

form button a:hover{
    color: white;
    font-weight: bold;
}